{% extends 'blog/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Cartas Pokemon</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <header class="page-header">
        <div class="container">
            <h1><a href="/">Cartas de Pokemon mais MASSA</a></h1>
        </div>

    </header>

    {% block content %}
    {% for post in posts %}
    <div class="post">
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <div class="date">
        {{ post.published_date }}
    </div>
    {% endfor %}
    {% endblock %}

</body>

</html>